<template>
  <div>
    <span class="btnNav" @click="openNav">&#9776;</span>

    <div class="overlay" :style="menuWidth" >

      <span class="closebtn" @click="closeNav">&times;</span>

      <div class="overlay-content" @click="closeNav">
          <router-link :to="{ name: 'home' }">Home</router-link>
          <router-link :to="{ name: 'numbers' }">Numbers</router-link>
          <router-link :to="{ name: 'alphabet' }">Alphabet</router-link>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
    data(){
        return {
            menuWidth: 'width:0'
        }
    },
    methods:{
        closeNav() {
            this.menuWidth = 'width:0'
        },
        openNav() {
            this.menuWidth = 'width:100%'
        }
    }
}
</script>

<style scoped>
.overlay {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.btnNav {
    float: left;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
</style>