<template>
    <span class="float-right">
        <b-icon :icon="icon(i)" color="red" v-for="i in getNumberAttempts" :key="i" />
    </span>
</template>

<script>
export default {
    data(){
      return {
        getNumberAttempts:this.$store.getters.get_number_attempts
      }
    },
    computed:{
      leftAttempts() {
        return this.$store.getters.get_left_attempts
      }
    },
    methods:{
      icon(i){
        return i <= this.leftAttempts ? 'heart-fill' : 'heart'
      }
    }
}
</script>