<template>
    <div>
        <b-row>
            <b-col> Что меньше? </b-col>
        </b-row>
        <b-row>
            <b-col cols="6">
                <b-row>
                    <b-col cols="2" v-for="i in leftNunber" :key="i">
                        <b-img 
                            :src="require('@/assets/img/numbers/apple.png')"
                            height="50"></b-img>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="6"> 
                <b-row>
                    <b-col cols="2" v-for="i in rightNumber" :key="i">
                        <b-img 
                            :src="require('@/assets/img/numbers/apple.png')"
                            height="50"></b-img>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="6">
                <b-button block @click="answer(leftNunber)">
                    {{ leftNunber }}
                </b-button>
            </b-col>
            <b-col cols="6"> 
                <b-button block @click="answer(rightNumber)">
                    {{ rightNumber }}
                </b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import _ from 'lodash'
import PlayTrackMixin from '../mixins/PlayTrackMixin'

export default {
    name:"FindLess",
    mixins: [PlayTrackMixin],
    data(){
        return {
            listNumbers: _.range(1,10),
            leftNunber: null,
            rightNumber: null,
        }
    },
    created(){
        let tempListNumbers = [...this.listNumbers]
        this.leftNunber = _.sample(tempListNumbers)
        tempListNumbers = _.reject(tempListNumbers, (i) => i===this.leftNunber)
        this.rightNumber = _.sample(tempListNumbers)
    },
    methods: {
        answer(val) {
            if(val <= this.leftNunber && val <= this.rightNumber) {
                this.playTrack(this.tracks.success)
                this.$emit('next-step',2)
            } else {
                this.playTrack(this.tracks.error)

                this.$store.commit('reduce_left_attempts')
            }
        }
    },
    mounted(){ 
        this.playTrack(this.tracks.findLess.question)
    }
}
</script>