<template>
    <div>
        <b-row>
            <b-col> Найди число {{ hiddenNumber }} </b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="btnNum" 
                :class="randColorList[i-1]"
                @click="answer"
                v-for="i in randList" 
                :key="i">
                {{ i }}
            </b-col>
        </b-row>
    </div>
</template>

<script>
import _ from 'lodash'
import PlayTrackMixin from '../mixins/PlayTrackMixin'

export default {
    name:"GuessNumber",
    mixins: [PlayTrackMixin],
    data(){
        return {
            listNumbers: _.range(1,10),
            listColors: ['red','green','yellow','blue','grey','orange','pink','violet','aqua'],
            hiddenNumber: null,
        }
    },
    methods: {
        answer(event) {
            if(parseInt(event.target.innerText) === this.hiddenNumber){
                this.playTrack(this.tracks.success)
                this.$emit('next-step',3)
            } else {
                this.playTrack(this.tracks.error)

                this.$store.commit('reduce_left_attempts')
            }
        }
    },
    computed: {
        
    },
    created() {
        this.hiddenNumber = _.sample(this.listNumbers)

        this.randList = _.shuffle(this.listNumbers)

        this.randColorList = _.shuffle(this.listColors)
    },
    mounted(){ 
        this.playTrack(this.tracks.guessNumber.question)
        this.playTrack(this.tracks.numbers[this.hiddenNumber])
    }
}
</script>

<style scoped>
    .btnNum{
        height: 30%;
        border: 1px solid rgb(75, 74, 74);
        padding: 20px 2px;
    }
    .red {
        background: rgb(224, 50, 79);
        color: #FFF;
    }
    .green {
        background: rgb(22, 253, 1);
        color: #FFF;
    }
    .yellow {
        background: rgb(207, 142, 1);
        color: #FFF;
    }
    .blue {
        background: rgb(71, 110, 238);
        color: #FFF;
    } 
    .grey {
        background: rgb(3, 104, 37);
        color: #FFF;
    }
    .orange {
        background: rgb(255, 165, 0);
        color: #FFF;
    }
    .pink {
        background: rgb(255, 192, 203);
        color: #FFF;
    }
    .violet {
        background: rgb(238, 130, 238);
        color: #FFF;
    }
    .aqua {
        background: rgb(0, 255, 255);
        color: #FFF;
    }
</style>