<template>
    <b-row>
        <b-col class="text-center">
            <b-button @click="nextStep">
                Старт
            </b-button>
        </b-col>
    </b-row>
</template>

<script>
export default {
    methods: {
        nextStep(){
            this.$emit('next-step',2)
        }
    }
}
</script>