<template>
  <div id="app">
    <Header />

    <transition name="fade">
      <router-view />
    </transition>

  </div>
</template>

<script>
import Header from './layouts/Header'

export default {
  name: 'App',
  components:{
    Header  
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 1.25s;
}

.fade-enter-active {
  transition-delay: 1.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
