<template>
  <b-container>
    <b-row>
      <b-col>
        <Menu />

        <NumberAttempts />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Menu from "@/components/Menu"
import NumberAttempts from "@/components/NumberAttempts"

export default {
    components:{
        Menu, NumberAttempts
    }
}
</script>