<template>
    <b-container>
        <Step1 v-if="step === 1" @next-step = "nextStep" />

        <Step2 v-else-if="step === 2" @next-step = "nextStep" />

        <Step3 v-else-if="step === 3" @next-step = "nextStep" />

        <Step4 v-else-if="step === 4" @next-step = "nextStep" />
    </b-container>
</template>

<script>

import Step1 from './steps/Start'
import Step2 from './steps/GuessNumber'
import Step3 from './steps/FindMore'
import Step4 from './steps/FindLess'

export default {
    name: "Numbers",
    components: {Step1, Step2, Step3, Step4},
    data(){
        return {
            step:1
        }
    },
    methods: {
        nextStep(step){
            this.step = step
        }
    },
    created() {
       this.$store.commit('set_default_number_attempts')
    }
}
</script>